p{
    color: red;
    text-indent: 100px;
    text-transform: capitalize;
    text-transform: lowercase;
    text-transform: uppercase;
    text-transform: none;
    text-decoration: overline;
    text-decoration: underline;
    text-shadow: 10px 10px 10px blue;
    /* letter-spacing: 1px; */
    word-spacing: 10px;
    line-height: 30px;
}

body{
    /* https://cdn.pixabay.com/photo/2018/08/23/07/35/thunderstorm-3625405_1280.jpg */

    background-image: url("https://cdn.pixabay.com/photo/2023/05/21/07/47/horse-8008038_1280.jpg");
    /* background-repeat: repeat; */
    background-repeat: repeat-x;
    /* background-repeat: repeat-y; */
    /* background-repeat: no-repeat; */
    /* background-size: cover;
    /* background-size: contain; */
    /* background-size: 50%; */
    /* background-size: 300px 200px; */
    /* background-size: 30; */
    /* background-position: center; */
    /* background-position: top; */
    /* background-position: bottom; */
    /* background-position: bottom right; */
    /* background-position: bottom left; */
}